body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1090px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:90px;
  top:110px;
  width:420px;
  height:1400px;
  color:#CCCCCC;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:1400px;
}
#u1 {
  position:absolute;
  left:2px;
  top:692px;
  width:416px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:109px;
  top:191px;
  width:381px;
  height:65px;
  overflow:hidden;
}
#u2_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:65px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u2_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:67px;
  opacity:0.949999988079071;
  color:#FFFFFF;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:67px;
}
#u4 {
  position:absolute;
  left:2px;
  top:26px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:140px;
  top:31px;
  width:120px;
  height:18px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:17px;
  color:#FFFFFF;
  text-align:center;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:18px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  white-space:nowrap;
}
#u7 {
  position:absolute;
  left:27px;
  top:32px;
  width:35px;
  height:24px;
  font-family:'HelveticaNeue', 'Helvetica Neue';
  font-weight:400;
  font-style:normal;
  font-size:17px;
  color:#FFFFFF;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:24px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:6px;
  top:27px;
}
#u10_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u10_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u11 {
  position:absolute;
  left:1px;
  top:15px;
  width:16px;
  height:10px;
  -webkit-transform:rotate(225deg);
  -moz-transform:rotate(225deg);
  -ms-transform:rotate(225deg);
  transform:rotate(225deg);
}
#u11_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u11_end {
  position:absolute;
  left:-1px;
  top:-5px;
  width:18px;
  height:20px;
}
#u11_line {
  position:absolute;
  left:0px;
  top:4px;
  width:16px;
  height:3px;
}
#u12 {
  position:absolute;
  left:1px;
  top:5px;
  width:16px;
  height:10px;
  -webkit-transform:rotate(135deg);
  -moz-transform:rotate(135deg);
  -ms-transform:rotate(135deg);
  transform:rotate(135deg);
}
#u12_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u12_end {
  position:absolute;
  left:-1px;
  top:-5px;
  width:18px;
  height:20px;
}
#u12_line {
  position:absolute;
  left:0px;
  top:4px;
  width:16px;
  height:3px;
}
#u13 {
  position:absolute;
  left:331px;
  top:31px;
  width:29px;
  height:20px;
  font-family:'HelveticaNeue', 'Helvetica Neue';
  font-weight:400;
  font-style:normal;
  font-size:17px;
  color:#FFFFFF;
  text-align:right;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u15 {
  position:absolute;
  left:150px;
  top:196px;
  width:34px;
  height:14px;
  font-family:'HelveticaNeue', 'Helvetica Neue';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:14px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  white-space:nowrap;
}
#u17 {
  position:absolute;
  left:270px;
  top:195px;
  width:47px;
  height:15px;
  font-family:'HelveticaNeue-Medium', 'Helvetica Neue Medium', 'Helvetica Neue';
  font-weight:500;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:15px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  white-space:nowrap;
}
#u19 {
  position:absolute;
  left:415px;
  top:196px;
  width:34px;
  height:14px;
  font-family:'HelveticaNeue', 'Helvetica Neue';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:right;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:14px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  white-space:nowrap;
}
#u21 {
  position:absolute;
  left:187px;
  top:193px;
  width:19px;
  height:20px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:20px;
}
#u22 {
  position:absolute;
  left:2px;
  top:2px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:449px;
  top:193px;
  width:34px;
  height:20px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:20px;
}
#u24 {
  position:absolute;
  left:2px;
  top:2px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:113px;
  top:200px;
  width:34px;
  height:7px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:7px;
}
#u26 {
  position:absolute;
  left:2px;
  top:-4px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:110px;
  top:256px;
  width:380px;
  height:50px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:50px;
}
#u28 {
  position:absolute;
  left:2px;
  top:17px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:123px;
  top:266px;
  width:37px;
  height:29px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:29px;
}
#u30 {
  position:absolute;
  left:2px;
  top:6px;
  width:33px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:259px;
  top:272px;
  width:73px;
  height:19px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:19px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u33 {
  position:absolute;
  left:110px;
  top:330px;
  width:380px;
  height:210px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:210px;
}
#u34 {
  position:absolute;
  left:2px;
  top:97px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:126px;
  top:341px;
  width:92px;
  height:22px;
  font-size:16px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:22px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u37 {
  position:absolute;
  left:113px;
  top:367px;
  width:357px;
  height:10px;
}
#u37_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u37_end {
  position:absolute;
  left:340px;
  top:-5px;
  width:18px;
  height:20px;
}
#u37_line {
  position:absolute;
  left:0px;
  top:5px;
  width:357px;
  height:1px;
}
#u38 {
  position:absolute;
  left:110px;
  top:800px;
  width:380px;
  height:120px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:120px;
}
#u39 {
  position:absolute;
  left:2px;
  top:52px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:127px;
  top:820px;
  width:113px;
  height:22px;
  font-size:16px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:22px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u42 {
  position:absolute;
  left:120px;
  top:846px;
  width:360px;
  height:10px;
}
#u42_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u42_end {
  position:absolute;
  left:343px;
  top:-5px;
  width:18px;
  height:20px;
}
#u42_line {
  position:absolute;
  left:0px;
  top:5px;
  width:360px;
  height:1px;
}
#u43 {
  position:absolute;
  left:127px;
  top:874px;
  width:33px;
  height:16px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#949494;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:16px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u45 {
  position:absolute;
  left:343px;
  top:862px;
  width:117px;
  height:40px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:40px;
}
#u46 {
  position:absolute;
  left:2px;
  top:12px;
  width:113px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:108px;
  top:1043px;
  width:382px;
  height:219px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:382px;
  height:219px;
}
#u48 {
  position:absolute;
  left:2px;
  top:102px;
  width:378px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:127px;
  top:1064px;
  width:65px;
  height:22px;
  font-size:16px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u51 {
  position:absolute;
  left:120px;
  top:1103px;
  width:360px;
  height:10px;
}
#u51_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u51_end {
  position:absolute;
  left:343px;
  top:-5px;
  width:18px;
  height:20px;
}
#u51_line {
  position:absolute;
  left:0px;
  top:5px;
  width:360px;
  height:1px;
}
#u52 {
  position:absolute;
  left:127px;
  top:1127px;
  width:81px;
  height:16px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#949494;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:16px;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u54 {
  position:absolute;
  left:120px;
  top:1153px;
  width:360px;
  height:10px;
}
#u54_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u54_end {
  position:absolute;
  left:343px;
  top:-5px;
  width:18px;
  height:20px;
}
#u54_line {
  position:absolute;
  left:0px;
  top:5px;
  width:360px;
  height:1px;
}
#u55 {
  position:absolute;
  left:127px;
  top:1177px;
  width:65px;
  height:16px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#949494;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u57 {
  position:absolute;
  left:228px;
  top:1127px;
  width:81px;
  height:16px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#CCCCCC;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:16px;
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u59 {
  position:absolute;
  left:228px;
  top:1177px;
  width:113px;
  height:16px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#CCCCCC;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:16px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u61 {
  position:absolute;
  left:109px;
  top:1339px;
  width:381px;
  height:40px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#46D4E0;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:40px;
}
#u62 {
  position:absolute;
  left:2px;
  top:12px;
  width:377px;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:600px;
  top:230px;
  width:490px;
  height:988px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:490px;
  height:988px;
}
#u64 {
  position:absolute;
  left:2px;
  top:486px;
  width:486px;
  visibility:hidden;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:630px;
  top:270px;
  width:430px;
  height:912px;
  font-size:20px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:912px;
}
#u66 {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:120px;
  top:1616px;
  width:382px;
  height:694px;
  opacity:0.400000005960464;
  font-size:16px;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:382px;
  height:694px;
}
#u68 {
  position:absolute;
  left:2px;
  top:339px;
  width:378px;
  visibility:hidden;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:178px;
  top:1806px;
  width:282px;
  height:314px;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:282px;
  height:314px;
}
#u70 {
  position:absolute;
  left:2px;
  top:149px;
  width:278px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:275px;
  top:2340px;
  width:88px;
  height:30px;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:30px;
}
#u72 {
  position:absolute;
  left:2px;
  top:8px;
  width:84px;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:119px;
  top:1208px;
  width:360px;
  height:10px;
}
#u73_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u73_end {
  position:absolute;
  left:343px;
  top:-5px;
  width:18px;
  height:20px;
}
#u73_line {
  position:absolute;
  left:0px;
  top:5px;
  width:360px;
  height:1px;
}
#u74 {
  position:absolute;
  left:129px;
  top:1228px;
  width:49px;
  height:16px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#949494;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:16px;
}
#u75 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u76 {
  position:absolute;
  left:362px;
  top:1224px;
  width:100px;
  height:25px;
}
#u76_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u77 {
  position:absolute;
  left:110px;
  top:630px;
  width:380px;
  height:110px;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:110px;
}
#u78 {
  position:absolute;
  left:2px;
  top:47px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:123px;
  top:645px;
  width:97px;
  height:22px;
  font-size:16px;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:22px;
}
#u80 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u81 {
  position:absolute;
  left:120px;
  top:680px;
  width:360px;
  height:10px;
}
#u81_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u81_end {
  position:absolute;
  left:343px;
  top:-5px;
  width:18px;
  height:20px;
}
#u81_line {
  position:absolute;
  left:0px;
  top:5px;
  width:360px;
  height:1px;
}
#u82 {
  position:absolute;
  left:127px;
  top:706px;
  width:65px;
  height:22px;
  font-size:16px;
  color:#949494;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
}
#u83 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u84 {
  position:absolute;
  left:228px;
  top:706px;
  width:121px;
  height:22px;
  font-size:16px;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:22px;
}
#u85 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u86 {
  position:absolute;
  left:425px;
  top:706px;
  width:24px;
  height:22px;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:22px;
}
#u87 {
  position:absolute;
  left:2px;
  top:3px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u88 {
  position:absolute;
  left:124px;
  top:400px;
  width:351px;
  height:40px;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:40px;
}
#u89 {
  position:absolute;
  left:2px;
  top:12px;
  width:347px;
  visibility:hidden;
  word-wrap:break-word;
}
#u90 {
  position:absolute;
  left:136px;
  top:414px;
  width:53px;
  height:13px;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:13px;
}
#u91 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u92 {
  position:absolute;
  left:366px;
  top:414px;
  width:71px;
  height:14px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#DADADA;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:14px;
}
#u93 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u94 {
  position:absolute;
  left:446px;
  top:412px;
  width:11px;
  height:18px;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:18px;
}
#u95 {
  position:absolute;
  left:2px;
  top:1px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u96 {
  position:absolute;
  left:123px;
  top:470px;
  width:352px;
  height:40px;
}
#u96_img {
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  height:40px;
}
#u97 {
  position:absolute;
  left:2px;
  top:12px;
  width:348px;
  visibility:hidden;
  word-wrap:break-word;
}
#u98 {
  position:absolute;
  left:135px;
  top:484px;
  width:27px;
  height:13px;
}
#u98_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:13px;
}
#u99 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u100 {
  position:absolute;
  left:374px;
  top:484px;
  width:57px;
  height:14px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#DADADA;
}
#u100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:14px;
}
#u101 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u102 {
  position:absolute;
  left:446px;
  top:482px;
  width:11px;
  height:18px;
}
#u102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:18px;
}
#u103 {
  position:absolute;
  left:2px;
  top:1px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u104 {
  position:absolute;
  left:108px;
  top:960px;
  width:382px;
  height:47px;
}
#u104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:382px;
  height:47px;
}
#u105 {
  position:absolute;
  left:2px;
  top:16px;
  width:378px;
  visibility:hidden;
  word-wrap:break-word;
}
#u106 {
  position:absolute;
  left:120px;
  top:976px;
  width:97px;
  height:22px;
  font-size:16px;
}
#u106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:22px;
}
#u107 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u108 {
  position:absolute;
  left:465px;
  top:976px;
  width:9px;
  height:16px;
}
#u108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:16px;
}
#u109 {
  position:absolute;
  left:2px;
  top:0px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
